[req]
default_bits = 4096
default_keyfile = ./private/key.pem
default_md = sha1
encrypt_key = no
prompt = no
distinguished_name = omarkhd_distinguished_name
x509_extensions = omarkhd_req_extensions

[omarkhd_distinguished_name]
commonName = omarkhd.net
stateOrProvinceName = Mexico City
countryName = MX
emailAddress = omarkhd@fake.com
organizationName = omarkhd

[omarkhd_req_extensions]
basicConstraints = CA:true

[ca]
default_ca = omarkhd

[omarkhd]
dir = /home/omarkhd/Projects/omarkhd/infrastructuchu/openssl/ca/omarkhd
certificate = $dir/ca.crt
database = $dir/index.txt
new_certs_dir = $dir/certs
private_key = $dir/private/key.pem
serial = $dir/serial

default_crl_days = 7
default_days = 30
default_md = sha1

policy = omarkhd_policy
x509_extensions = omarkhd_ca_extensions

[omarkhd_policy]
commonName = supplied
stateOrProvinceName = supplied
countryName = supplied
emailAddress = optional
organizationName = supplied
organizationalUnitName = optional

[omarkhd_ca_extensions]
basicConstraints = CA:false

